@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;
@use "../abstracts/variables" as v;

.contacts-list {
  @include m.flex-row;
  gap: 40px;

  @include m.tablet {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__item {
    @include m.flex-row;
    gap: 14px;
    align-items: center;
  }

  &__icon {
    width: 24px;
    height: 24px;

    @include m.tablet {
      width: 20px;
      height: 20px;
    }

    @include m.mobile {
      width: 18px;
      height: 18px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: f.rem(20);
    color: v.$white-dark-hover;
    text-decoration: underline;

    &:hover {
      color: v.$orange-normal;
    }

    @include m.tablet {
      font-size: f.rem(18);
    }

    @include m.mobile {
      font-size: f.rem(16);
    }
  }
}