@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;

.navigation {

  &__list {
    @include m.flex-row;
    justify-content: center;
    gap: 60px;
    font-weight: 500;
    font-size: f.rem(20);
    color: v.$white-dark-hover;

    @include m.tablet {
      gap: clamp(20px, -5.6px + 5.93vw, 40px);
      font-size: f.rem(18);
    }

    @include m.mobile {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      font-size: f.rem(16);
    }
  }

  &__item:hover {
    color: v.$orange-normal;
  }

}