@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as f;

.section-header {
  max-width: 90%;

  @include m.flex-column;
  align-items: center;

  &__title {
    font-weight: 700;
    font-size: f.rem(40);
    color: v.$white-light;

    @include m.laptop {
      font-size: f.rem(36);
    }

    @include m.tablet {
      font-size: f.rem(32);
    }

    @include m.mobile {
      font-size: f.rem(24);
    }
  }

  &__description {
    font-weight: 500;
    font-size: f.rem(20);
    color: v.$white-dark-active;

    @include m.laptop {
      font-size: f.rem(18);
    }

    @include m.tablet {
      font-size: f.rem(16);
      text-align: center;
    }

    @include m.mobile {
      font-size: f.rem(14);
      text-align: center;
      line-height: 1.6;
    }
  }

  @include m.laptop {
    gap: 10px;
  }

  @include m.tablet {
    gap: 12px;
  }

  @include m.mobile {
    gap: 14px;
  }
}