@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as f;

.section-header {
  @include m.flex-column;
  align-items: center;

  &__title {
    font-weight: 700;
    font-size: f.rem(40);
    color: v.$white-light;

  }

  &__description {
    font-weight: 500;
    font-size: f.rem(20);
    color: v.$white-dark-active;
  }
}