@use "../abstracts/mixins" as m;

.social-links {
  @include m.flex-row;
  gap: 20px;

  &__icon {
    height: 40px;
    width: 40px;

    @include m.tablet {
      height: 36px;
      width: 36px;
    }

    @include m.mobile {
      height: 32px;
      width: 32px;
    }
  }
}

