@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

body {
  background-color: v.$background;
  @include m.flex-column;
  gap: 50px;
}

main {
  @include m.flex-column;
  gap: clamp(50px, 4.55vw + 31.8px, 120px);
}