@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

body {
  background-color: v.$background;
  padding-top: 30px;
  @include m.flex-column;
  gap: 50px;
}

main {
  @include m.flex-column;
  gap: clamp(20px, 1.25rem + 5.33vw, 100px)
}