@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;

body {
  font-family: v.$font-family-main;
  font-size: f.rem(16);
  letter-spacing: 0.03em;
  vertical-align: top;
  color: v.$white-dark-active;
}

h1 {
  font-size: f.rem(28);
  font-weight: 700;
  color: v.$white-dark-hover;
}

h2 {
  font-weight: 900;
  font-size: f.rem(70);

  background: linear-gradient(
                  90deg,
                  #984300 0%,
                  #FD6F00 46%,
                  #CA5900 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}