@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;

body {
  font-family: v.$font-family-main;
  font-size: f.rem(16px);
  letter-spacing: 0.03em;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: f.rem(70px);

  background: linear-gradient(
                  45deg,
                  #984300 0%,
                  #FD6F00 46%,
                  #CA5900 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

h2 {
  font-weight: bold;
  font-size: f.rem(40px);
  color: v.$white-light;
}

nav ul {
  font-weight: 500;
  font-size: f.rem(20px);
  color: v.$white-dark-hover;

  &--active {
    color: v.$orange-normal;
  }
}