// colors, fonts, breakpoints
$font-family-main: "Lato", sans-serif;

$background: #121212;

$white-light: #FEFEFE;
$white-normal-hover: #DFDFDF;
$white-normal-active: #C6C6C6;
$white-dark: #BABABA;
$white-dark-hover: #959595;
$white-dark-active: #707070;
$white-darker: #575757;

$orange-normal: #FD6F00;

$breakpoint-mobile: 768px;