@use "../abstracts/mixins" as m;

.contact {
  width: 90%;
  margin: 0 auto;
  @include m.flex-column;
  align-items: center;
  gap: 3rem;

  @include m.laptop {
    gap: 2.5rem;
  }

  @include m.tablet {
    width: 95%;
    gap: 2rem;
  }

  @include m.mobile {
    width: 100%;
    gap: 24px;
  }

  &__form {
    align-self: stretch;
    @include m.flex-center;


    @include m.tablet {
      padding: 0 1rem;
    }

    @include m.mobile {
      padding: 0 16px;
    }
  }
}